<!DOCTYPE html>
<html>
  <head>
    <title>Bloom: A Jellyfish Wiki</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: darkgrey">
    <%= render 'jellyfish/nav' %><br><br>
    <%= yield %>
  </body>
</html>
