<p id="notice"><%= notice %></p>

<h1>
  <strong>Artist:</strong>
  <%= @artist.name %>
</h1>

<p>
  <strong>Manager:</strong>
  <%= @artist.manager.name %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
